*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: rgb(252, 166, 188); 
    width: 98vw;
}

main h1{
    font-size: 6vh;
    text-align: center;
    padding: 8vh 0 2vh 0;
    color: rgb(197, 77, 107);
}

main div{

    display: inline-block;
    justify-content: space-around;
    text-align: center;
    width: 30vw;
    height: 60vh;
    padding-left: 5vh;
    padding-top: 5vh;
    margin: 2vh;
    
}
main img{
    width: 25vw;
    height: 40vh;
    align-items: center;
}

main p{
    font-size: 2.5vh;
    font-family: cursive;
}

main button{
    background-color: rgb(197, 77, 107);
    color: bisque;
    text-decoration: none;
    font-size: 2vh;
    padding: 2vh;
    cursor: pointer;
    border-radius: 1vh;
    margin-top: 2.5vh;
}